<nav class= "navbar navbar-inverse">
	<div class="container-fluid">
	  	<div class="navbar-header active">
		    {{#link-to 'index' class="navbar-brand"}}
		    	Kojuba Micro
		    {{/link-to}}
	    </div>
	    <div class="collapse navbar-collapse">
	      	<ul class="nav navbar-nav">
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
      			{{!-- {{#if loginPage}} --}}
      			{{#if session.isAuthenticated}}
      				
	      			<li>
	      				<a href="#"><span class="glyphicon glyphicon-user" action="invalidateSession"></span>Logout</a>
	      			</li>
	      		{{else}}
	      			<li>
	      				<a href="signup" action="toggleLoginIcon"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
	      			</li>
	      			<li>
	      				<a href="login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
	      			</li>

	      		{{/if}}

    		</ul>
	    </div>
	</div>
	<body>
           {{outlet}}
    </body>

</nav>
