<div class="well">
  <div class="right tomster"></div>
  <h2>About Kojuba Micro</h2>
	  <p>
		Kojuba Micro was engineered to solve this problem.  With the right methods and  the right technology, individual contributions can be objectively quantified.  Kojuba Micro is a performance management system designed to be used by small teams at the end of short-term projects.  The application enables users to rate one another on various dimensions of performance.  An algorithm is applied to the response data to estimate and extract the bias in the ratings. After all ratings have been submitted, a dashboard is created for an admin user to view.
	</p>
</div>
