<div class="well">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
	    	<h3>Kojuba Micro is a performance management system designed to be used by small teams at the end of short-term projects.</h3>  The application enables users to rate one another on various dimensions of performance.
	    </div>
	</div>
</div>